# Python
*.py[cod]
*$py.class
*.py~
*.so
__pycache__/
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Django
db.sqlite3
db.sqlite3-journal
media/
static/
staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# IDEs and OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*~

# Build and Logs
dist/
*.log

# Custom / Infrastructure
localstack/
apps/core/management/commands/data/*.csv

posts.json
articles.csv
seed_users.csv
