[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
django-cors-headers = "*"
python-dotenv = "*"
djangorestframework = "*"
django-extensions = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
django-filter = "*"
drf-yasg = "*"
pyjwt = "*"
django-redis = "*"

[requires]
python_version = "3.8"
