{% load i18n %}
{% autoescape off %}
<html>
<body>
<p>
{% blocktrans %}
You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
{% endblocktrans %}

<p>{% trans "Please go to the following page and choose a new password:" %}</p>
{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}/{{ url }}/{{ token }}">{{ protocol }}://{{ domain }}/{{ url }}/{{ token }}</a>
{% endblock %}

<p>{% trans "Thanks for using our site!" %}</p>

{% blocktrans %}
<p>The {{ site_name }} team</p>
{% endblocktrans %}
</body>
</html>
{% endautoescape %}
